body {
	background-color: #424242;
}

p, h1, h2, h3 {
	color: #fff;
	text-align: center;
}

ul {
	display: flex;
}

button {
	font-size: 1.2em;
	background-color: #4286f4;
	color: #fff;
	border: none;
	border-radius: 6%;
	border: solid 1px #000;
}

button:hover {
	text-decoration: underline;
	border: solid 1px #fff;
}

button:active {
	background-color: #122544;
}

nav {
	font-weight: bold;
	display: flex;
	justify-content: space-around;
}

img {
	width: 200px;
	height: 200px;
}

nav img {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	border-radius: 50%;
}

footer {
	display: flex;
	justify-content: space-around;
}

.flexleft {
	justify-content: flex-start;
}

.flexcenter {
	display: flex;
	justify-content: center;
}

.flexright {
	display: flex;
	justify-content: flex-end;
}

.tabs {
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.card {
    text-align: center;
    margin: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border: solid 3px black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
	border-bottom: solid 3px black;
}