<nav>
  <div class="flexleft">
    <p>Another test website</p>
  </div>
  <div class="flexcenter"></div>
  <div class="flexright">
    <p>- Mac -</p>
    <img src="assets/IMG_0730white.jpg">
  </div>
</nav>
<h1>The team</h1>
<h2>AKA, "Tho 1337 m0th3rfuck3rz"</h2>
<div class="tabs">
  <button onclick="toogle('0')">Mallone</button>
  <button onclick="toogle('1')">Kitty</button>
</div>
<div id="0" class="card" style="display: none;">
  <img src="assets/IMG_0730white.jpg">
  <h3>Mallone Delwaulle</h3>
  <p>Beginner Ruby on Rails developer</p>
  <a href="http://www.github.com/macdesu/"><button>My Github</button></a>
</div>
<div id="1" class="card" style="display: none;">
  <img src="assets/IMG_0856.JPG">
  <h3>Kitty "p4wn" Dotcom</h3>
  <p>Founder of "Pu55y H4ck3rZ"<br>
    Expert in reverse engineering,<br>
    low-level programming and<br>
    bed-stealing techniques<br><br>
    TLDR: <strong>1337 as fuck.</strong></p>
</div>