<!DOCTYPE html>
<html>
<head>
	<title>Gossip number</title>
</head>

<body>
	<style type="text/css">
    body, a {
     	background-color: #424242;
      color: white;
    }
	</style>

  <h1>Gossip :</h1>
  <p>"<%= @gossip[1] %>" <small>-<%= @gossip[0] %></small></p>
  <a href="/">CLICK HERE TO GO BACK TO INDEX</a>
</body>
</html>