<!DOCTYPE html>
<html>
<head>
  <title>The Gossip Project</title>
</head>

<body>
  <style type="text/css">
    body, a {
      background-color: #424242;
      color: white;
    }
  </style>

  <h1>Welcome to <em>GITE POTIN</em> !</h1>
  <p><a href="/gossips/new/">Add a new gossip</a></p>
  <p><a href="/gossips/">View all gossips</a></p>
  
</body>
</html>