<h1>Our glorious team</h1>
<ul>
	<li><a href="https://github.com/macdesu">El famoso Mallone, as himself</a></li>
	<li><a href="https://github.com/orohellec">Olivier, the man how puts butter in EVERYTHING</a></li>
	<li><a href="https://github.com/karlverdiere">Karl Simpson</a></li>
	<li><a href="https://github.com/jdelfosse">Jerome, sleeping world champion</a></li>
	<li><a href="https://github.com/HenriBrg">Henri, the humain protein calculator</a></li>
	<li><a href="https://github.com/LisaLouAEH">Lisa (quitted because we are basically assholes)</a></li>
</ul>