<h2>Here's the list of all users :</h2>
<div class="container">
  <div class="row">
    <% @users.each do | user | %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= user[:name] %></h5>
            <!--<p class="card-text"><%= user[:bio] %></p>
            <a href="#" class="card-link">Card link</a>-->
          </div>
      </div>
    <% end %>
  </div>
</div>